@import "tailwindcss";

/* Custom styles */
.bg-lightHover {
  background-color: #fcf4ff;
}

.dark {
  background-color: #11001F; /* Your darkTheme color */
  color: white;
}
.hover-bg-lightHover:hover {
  background-color: #fcf4ff;
}
.bg-darkTheme {
  background-color: #11001F;
}

.shadow-black {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}

.hover-shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}

.hover-shadow-white:hover {
  box-shadow: 4px 4px 0 #fff;
}

/* Add dark hover background */
.dark .hover-bg-darkHover:hover {
  background-color: rgba(42, 0, 74, 0.5); /* darkHover with opacity */
}

* {
  font-family: 'Outfit', sans-serif;
}

.font-Ovo {
  font-family: 'Ovo', serif;
}

/* Navbar blur fallback */
.navbar-blur {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}